<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Show</title>
  </head>
  <body>
    <h1><%=@post.name%></h1>
    <p><%=@post.content%></p>

    <form action="/posts/<%=@post.id%>/delete" method="post">
      <input id="hidden" type="hidden" name="_method" value="delete">
      <input type="submit" name="Delete" value="delete">
    </form>
  </body>
</html>
